<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    A Engineer who loves design awesome things.
</div>

<h2><span data-i18n="skills.my_skills">Paper</span></h2>

<div>
    <h3>专利</h3>
    [1]胡传伟. Filter design system, method and computer readable medium:CN202210144529.5[P].CN202210144529.5[2024-02-28].
    [2]胡传伟. Coupling mode parameter extraction module and method for surface acoustic wave device simulation :CN202210144791.X[P].CN202210144791.X[2024-02-28].
    [3]胡传伟.Filter design method and filter design system :CN202210240407.6[P].CN202210240407.6[2024-02-28].
    [4]胡传伟. Simulation method for generating filter circuit and waveform thereof :CN202210144681.3[P].CN202210144681.3[2024-02-28].
    [5]胡传伟. Circuit diagram generation method, circuit diagram generation device, computer equipment and readable medium:CN202210144612.2[P].CN202210144612.2[2024-02-28].
    <h3>论文</h3>
    [1]胡传伟,鄂彦志,邹杨,等.熔盐堆堆芯流体力学计算的GPU并行方法研究[J].核技术, 2017, 40(11):7.DOI:10.11889/j.0253-3219.2017.hjs.40.110601.
    [2]胡传伟.基于开源热工水力程序的GPU并行化实现与应用[J].  2017.
</div>
